
#LaTeX files to ignore

*.aux
Template 21-22/template/*.aux

*.fdb_latexmk
*masterproef.fdb_latexmk

*.blg

*.log
Template 21-22/template/masterproef.log

*.gz
Template 21-22/template/masterproef.synctex.gz
*masterproef.synctex.gz

#todo files
*.tdo

#never untrack .tex files
!*.tex